<style>
img.data_image { width: 220px; height: 180px; object-fit: cover; background-position: center; }
ion-card.card_product_slider {
   max-width:220px;
   width:100%;
   height:350px;
}
</style>
{% for data in site.data.new_product %}
<ion-card class="card_product_slider">
<img class="data_image" src="{{data.image}}" alt="{{data.title}}" />
<ion-card-header>
 <ion-card-title>
{{data.price}}
</ion-card-title>
<ion-card-subtitle>
{{data.title}}
</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
<ion-text {% if data.stok != 'Tersedia' %} color="danger"{% else %}color="success"{% endif %}>{{data.stok}}</ion-text>
</ion-card-content>
</ion-card>
{% endfor %}