<ion-modal id="editModal">
  <ion-header>
    <ion-toolbar>
      <ion-title>Edit Profil</ion-title>
      <ion-buttons slot="end">
        <ion-button onclick="xxxModal()">
<ion-icon slot="icon-only" name="close-circle-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
    <ion-card-content>
    <ion-item class="items" lines="none">
      <ion-input id="edit_foto_url" label="URL Foto (opsional)" label-placement="floating" clear-input="true" fill="outline"></ion-input>
    </ion-item>
    <ion-item class="items" lines="none">
      <ion-input id="edit_nama_depan" type="text" label="Nama Depan" label-placement="floating" clear-input="true" fill="outline" required></ion-input>
    </ion-item>
	<ion-item class="items" lines="none">
	  <ion-input id="edit_nama_belakang" type="text" label="Nama Belakang" label-placement="floating" clear-input="true" fill="outline" required></ion-input>
	</ion-item>
    <ion-item class="items" lines="none">
      <ion-input id="edit_no_wa" type="tel" label="Nomor Whatsapp (08...)" label-placement="floating" clear-input="true" fill="outline"></ion-input>
    </ion-item>
    <ion-item class="items" lines="none">
      <ion-input id="edit_alamat_lengkap" type="text" label="Alamat Lengkap" label-placement="floating" clear-input="true" fill="outline"></ion-inputt>
    </ion-item>
    <ion-item class="items" lines="none">
      <ion-input id="edit_kota" type="text" label="Kota" label-placement="floating" clear-input="true" fill="outline"></ion-input>
    </ion-item>
    <ion-item class="items" lines="none">
      <ion-input id="edit_state" type="text" label="Provinsi" label-placement="floating" clear-input="true" fill="outline"></ion-input>
    </ion-item>
    <ion-item class="items" lines="none">
      <ion-input id="edit_postal_code" type="text" label="Kode Pos" label-placement="floating" clear-input="true" fill="outline"></ion-input>
    </ion-item>
    </ion-card-content>
	<ion-footer>
	<ion-toolbar>
						<ion-buttons slot="start">
    <ion-button fill="clear" color="danger" shape="round" onclick="xxxModal()">Batal</ion-button>
						</ion-buttons>
						<ion-buttons slot="end">
    <ion-button color="success" shape="round" onclick="updateUserProfile()">Simpan</ion-button>
						</ion-buttons>
	</ion-toolbar>
	</ion-footer>
    </ion-card>
  </ion-content>
</ion-modal>

<script>
  async function openEditModal() {
    const modal = document.querySelector('#editModal');
    if (modal) {
      await modal.present();
    } else {
      console.error("Modal tidak ditemukan!");
    }
  }

  function xxxModal() {
    const modal = document.querySelector('#editModal');
    if (modal) {
      modal.dismiss();
    }
  }
</script>