<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
	<link rel="manifest" href="{{ '/assets/manifest.json' | relative_url }}">
	<meta name="theme-color" content="#ffffff">
	<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/images/logo/maskable_icon_x192.png">
	<link rel="shortcut icon" sizes="192x192" href="{{site.baseurl}}/assets/images/logo/maskable_icon_x192.png">
	<link rel="apple-touch-icon" href="{{site.baseurl}}/assets/images/logo/maskable_icon_x192.png">

	 <!-- Facebook integration -->
	<meta property="og:title" content="{{ page.title }}"/>
	{% if page.image %}
	<meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}"/>{% endif %}
	<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"/>
		{% if page.url == '/product/' %}
	<meta property="og:type" content="product">
		{% endif %}
		{% if page.url == '/blog/' %}
	<meta property="og:type" content="article">
		{% endif %}
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>

	<!-- Twitter integration -->
	<meta name="twitter:card" content="summary">
	{% if site.twitter_url %}
	<meta name="twitter:site" content="{{ site.twitter_url }}">{% endif %}
	<meta name="twitter:title" content="{{ page.title }}" />
	{% if page.image %}
	<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% endif %}
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
	<meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | prepend: site.baseurl | prepend: site.url }}" />
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	 
	{% feed_meta %}
  
    <script type="module" src="{{ '/assets/frameworks/@ionic/core/dist/ionic/ionic.esm.js?v=8.0' | relative_url }}"></script>
    <script nomodule src="{{ '/assets/frameworks/@ionic/core/dist/ionic/ionic.js?v=8.0' | relative_url }}"></script>
    <link rel="stylesheet" href="{{ '/assets/frameworks/@ionic/core/css/ionic.bundle.css?v=8.0' | relative_url }}" />
    <script type="module" src="{{ '/assets/frameworks/ionicons/dist/ionicons/ionicons.esm.js' | relative_url }}"></script>
    <script nomodule src="{{ '/assets/frameworks/ionicons/dist/ionicons/ionicons.js' | relative_url }}"></script>
	
	<script src="{{ '/assets/js/jquery/jquery.min.js?v=3.6.0' | relative_url }}"></script>
	
	<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
	<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
	<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>

  <!-- Midtrans Snap.js -->
<script
  {% if page.snap_options == 'live' %}
    src="{{ site.SNAP_PRODUCTION_URL }}" data-client-key="{{ site.client_key }}"
  {% elsif page.snap_options == 'sandbox' %}
    src="{{ site.SNAP_SANDBOX_URL }}" data-client-key="{{ site.sanbox_client }}"
  {% endif %}
></script>

<style>
ion-card-content ion-item.items {
    margin: 12px 0;
    overflow: visible;
}
</style>
</head>
