<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
<meta property="description" content="{{site.description}}" />
<meta property="og:image" content="{{site.logo}}">
<meta property="og:site_name" content="{{site.dev}}">
<meta property="og:title" content="{{site.title}}">
<meta property="twitter:image" content="{{ '/assets/img/placeholder.png' | relative_url}}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{page.title}}">
<meta property="twitter:description" content="{{page.desc}}">
<meta property="og:description" content="{{site.description}}" />
<meta property="og:url" content="{{site.baseurl}}">

<link rel="icon" type="image/png" href="{{site.baseurl}}/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{site.baseurl}}/favicon/favicon.svg" />
<link rel="shortcut icon" href="{{site.baseurl}}/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{site.title}}" />
<link rel="manifest" href="{{site.baseurl}}/favicon/site.webmanifest" />

    <script type="module" src="{{ '/assets/frameworks/@ionic/core/dist/ionic/ionic.esm.js' | relative_url }}"></script>
    <script nomodule src="{{ '/assets/frameworks/@ionic/core/dist/ionic/ionic.js' | relative_url }}"></script>
    <link rel="stylesheet" href="{{ '/assets/frameworks/@ionic/core/css/ionic.bundle.css' relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<meta name="google-site-verification" content="{{site.G-verify}}" />
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>

<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
<script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
</head>