  <ion-modal id="registrasiModal">
  <ion-header>
    <ion-toolbar>
      <ion-title>Registrasi</ion-title>
      <ion-buttons slot="end">
        <ion-button onclick="tutupModal()">
<ion-icon slot="icon-only" name="close-circle-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card style="margin-top:60px;">
      <ion-card-header>
        <ion-card-title>Daftar ?!</ion-card-title>
        <ion-card-subtitle>Silahkan isi semua kolom & gunakan e-mail aktif</ion-card-subtitle>
      </ion-card-header>

				  <ion-card-content>
					<ion-item class="items" lines="none">
					  <ion-input id="namaDepan" type="text" label="Nama Depan" label-placement="floating" clear-input="true" fill="outline" required></ion-input>
					</ion-item>
					
					<ion-item class="items" lines="none">
					  <ion-input id="namaBelakang" type="text" label="Nama Belakang" label-placement="floating" clear-input="true" fill="outline" required></ion-input>
					</ion-item>
					
					<ion-item class="items" lines="none">
					  <ion-input id="eMail" type="email" label="E-mail" label-placement="floating" clear-input="true" fill="outline" required></ion-input>
					</ion-item lines="none">

					<ion-item class="items" lines="none">
					  <ion-input id="kataSandi" type="password" label="Password" label-placement="floating" clear-input="true" fill="outline" required></ion-input>
					</ion-item>

					<ion-item class="items" lines="none">
					  <ion-input id="noWa" type="tel" label="Whatsapp" label-placement="floating" clear-input="true" fill="outline" required></ion-input>
					</ion-item>

					<ion-item class="items" lines="none">
					  <ion-input id="kota" type="text" label="Kota" label-placement="floating" clear-input="true" fill="outline" required></ion-input>
					</ion-item>
				  </ion-card-content>
				<ion-footer>
					<ion-toolbar>
						<ion-buttons slot="end">
								<ion-button type="button" fill="outline" shape="round" color="primary" onclick="register()">Daftar</ion-button>
						</ion-buttons>
					</ion-toolbar>
				</ion-footer>
    </ion-card>
  </ion-content>
</ion-modal>
<script>
  async function openRegModal() {
    const modal = document.querySelector('#registrasiModal');
    if (modal) {
      await modal.present();
    } else {
      console.error("Modal tidak ditemukan!");
    }
  }

  function tutupModal() {
    const modal = document.querySelector('#registrasiModal');
    if (modal) {
      modal.dismiss();
    }
  }
</script>