@use "mixins" as *;

.grid-product {
   display: grid;
   grid-template-columns: minmax(auto, 1fr) 4fr;
@include mobile {
   grid-template-columns: minmax(auto, 1fr) 2fr;
  }
}

.profil_img {
 max-width: 100wh;
 width: 100%;
 height: 280px;
 object-fit: cover;
 bacground-position: center;
}