@use "mixins" as *;

.grid-product {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
@include mobile {
   grid-template-columns: 1fr 1fr;
  }
.product-img {
   max-width: 200px
   width: 100%;
   height: 280px;
   object-fit: cover;
   background-position: cover;
  }
}

.profil_img {
 max-width: 100wh;
 width: 100%;
 height: 280px;
 object-fit: cover;
 bacground-position: center;
}