@use "mixins" as *;
@use "variables" as *;

body {
  background-color: $background-color;
  font-size: 16px;

  @include mobile {
    font-size: 14px;
  }

  @include tablet {
    font-size: 15px;
  }
}

ion-button {
  padding: 12px 24px;

  @include mobile {
    padding: 10px 20px;
  }

  @include tablet {
    padding: 11px 22px;
  }
}
.mobile-hide {
 display:block;
   @include mobile {
   display:none !important;
   }
}