@use "mixins";
@use "variables" as *;

body {
  background-color: $background-color;
  font-size: 16px;

  @include mixins.mobile {
    font-size: 14px;
  }

  @include mixins.tablet {
    font-size: 15px;
  }
}

ion-button {
  --background: $primary-color;
  --color: white;
  padding: 12px 24px;

  @include mixins.mobile {
    padding: 10px 20px;
  }

  @include mixins.tablet {
    padding: 11px 22px;
  }
}