---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'id-ID' }}">

  {% include head.html %}

<body>
  <ion-app>
      <ion-tabs>
        {{ content }}
<ion-label slot="bottom" class="text_dev"><ion-text>{{site.title}} by <span id="text_dev">{{site.text_dev}}</span> © 2025 | v.1.0.1</ion-text></ion-label>
      </ion-tabs>
  </ion-app>
{% include auth.html %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="{{ '/assets/js/simpleCart.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script src="{{ '/assets/js/formOrder.js' | relative_url }}"></script>
<script src="https://cdn.statically.io/gh/plus62store/plus62store/main/assets/js/style-picker.js"></script>
<script src="https://cdn.statically.io/gh/plus62store/plus62store/main/assets/js/add-to-cart.js"></script>
<script src="https://cdn.statically.io/gh/plus62store/plus62store/main/assets/js/checkout.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script src="{{ '/assets/js/lazyload.js' | relative_url }}"></script>
<script type="module" src="{{ '/assets/frameworks/ionicons/dist/ionicons/ionicons.esm.js' | relative_url }}"></script>
<script nomodule src="{{ '/assets/frameworks/ionicons/dist/ionicons/ionicons.js' | relative_url }}"></script>
</body>
</html>