---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'id-ID' }}">

  {% include head.html %}

<body>
  <ion-app>
    </ion-tabs>
      {{ content }}
{% include tab-bottom.html %}
    </ion-tabs>
  </ion-app>
{% include firebase-auth.html %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!--<script type="module" src="{{ '/assets/js/auth.js' | relative_url }}"></script>-->
<script type="module" src="{{ '/assets/frameworks/ionicons/dist/ionicons/ionicons.esm.js' | relative_url }}"></script>
<script nomodule src="{{ '/assets/frameworks/ionicons/dist/ionicons/ionicons.js' | relative_url }}"></script>
</body>
</html>